<app-menu></app-menu>

<div class="container">
  <div *ngIf="dataLpLength">
    <div class="right">
      <table mat-table [dataSource]="dataLp" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="Producto">
          <th mat-header-cell *matHeaderCellDef>Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef>&nbsp; Precio </th>
          <td mat-cell *matCellDef="let element">&nbsp; {{element.precio}}€ </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> &nbsp;Cantidad </th>
          <td mat-cell *matCellDef="let element">&nbsp; {{element.cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="Ticket">
          <th mat-header-cell *matHeaderCellDef> &nbsp;Ticket </th>
          <td mat-cell *matCellDef="let element">&nbsp; {{element.ticket.id}}</td>
        </ng-container>
        <ng-container *ngIf="login" matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>&nbsp; Acciones </th>
          <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="warn"
              (click)="delete(element.id)">Quitar</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headElements"></tr>
        <tr mat-row *matRowDef="let element; columns: headElements;">
        </tr>
      </table>
      <button mat-flat-button color="primary" (click)="openDialog('Pagar',dataLp[0].ticket)"> Pagar: {{total}}€
      </button>
    </div>
  </div>

  <div class="left">
    <tr *ngFor="let datos of data">
      <mat-card class="example-card">
        <a (click)="insertLineaPedido(datos.precio, datos.cantidad,datos.id)"><img src="{{datos.imagen}}" width="90"
            height="80"></a>
        <mat-card-actions>
          <td>{{datos.descripcion}} {{datos.precio}}€</td>
        </mat-card-actions>
      </mat-card>

    </tr>
    <mat-paginator [length]="data12" [pageSizeOptions]="pageSizeOptions" (page)=setPage($event)>
    </mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>
