

img{
  width: 200;
  height: 200;
}

.item {
  flex:  0 0 auto;
  margin: 20px;
}

.left{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
  align-content: flex-start;
  float: left;
  position: absolute;
  width:50%
}

.right{
  width:30%;
  position:relative;
  float: right;
}
.absolute{
  margin-right: 700px;
  position: relative;
}
.example-card{
  margin: 10px;
  max-width: 100px;
}
