<app-menu></app-menu>

<div class="container">
  <form [formGroup]="formularioTipoProducto" (ngSubmit)="onSubmit(formularioTipoProducto.value)">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Descripcion</mat-label>
      <input matInput type="text" formControlName="descripcion"><br/>

        <mat-error class="error-message" *ngIf=" (formularioTipoProducto.get('descripcion').dirty || formularioTipoProducto.get('descripcion').touched)">Campo requerido</mat-error>

    </mat-form-field>
    <br>




      <button class="btn btn-primary" [disabled]="!formularioTipoProducto.valid" type="submit">Enviar</button>
    </form>
    </div>
    <router-outlet></router-outlet>
