
<app-menu></app-menu>



<div class="container">
  <form [formGroup]="formularioFactura" (ngSubmit)="onSubmit(formularioFactura.value)">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Fecha</mat-label>
      <input matInput [class.is-invalid]="formularioFactura.get('fecha').touched && formularioFactura.get('fecha').invalid" type="text" formControlName="fecha"><br/>
    </mat-form-field>
    <br>

    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Total</mat-label>
      <input matInput [class.is-invalid]="formularioFactura.get('total').touched && formularioFactura.get('total').invalid" type="text" formControlName="total"><br/>
    </mat-form-field>
    <br>
      <mat-form-field>
          <mat-label>Mesa</mat-label>
          <mat-select formControlName="mesa">
            <mat-option *ngFor="let datos of data1" [value]='datos.id'>
              {{datos.numero}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    </div>
    <router-outlet></router-outlet>
