<app-menu></app-menu>
<div class="container">
  <h2 class="mat-display-1">Actualizar mesa numero {{ datanum }}</h2>
  <form [formGroup]="formularioMesas" (ngSubmit)="onSubmit(formularioMesas.value)" autocomplete="off">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Numero</mat-label>

      <input matInput  type="number" formControlName="numero" max="999" min="0"><br/>
      <mat-error *ngFor="let validation of mesasValidationMessages.numero">
        <mat-error class="error-message" *ngIf="formularioMesas.get('numero').hasError(validation.type) && (formularioMesas.get('numero').dirty || formularioMesas.get('numero').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <button class="btn btn-primary" [disabled]="!formularioMesas.valid" type="submit">Enviar</button>

  </form>
  </div>
  <router-outlet></router-outlet>
