<app-menu></app-menu>

<div class="container">

  <h2 class="mat-display-1">Actualizar {{datadesc}}</h2>
  <form [formGroup]="formularioProducto" (ngSubmit)="onSubmit(formularioProducto.value)">
  <!--  Descripcion: <input [class.is-invalid]="formularioProducto.get('descripcion').touched && formularioProducto.get('descripcion').invalid" type="text" class="form-control" formControlName="descripcion">
    Codigo: <input [class.is-invalid]="formularioProducto.get('codigo').touched && formularioProducto.get('codigo').invalid" type="text" class="form-control" formControlName="codigo"><br/>
    Precio:<input [class.is-invalid]="formularioProducto.get('precio').touched && formularioProducto.get('precio').invalid" type="text" class="form-control" formControlName="precio">
    Imagen:<input [class.is-invalid]="formularioProducto.get('imagen').touched && formularioProducto.get('imagen').invalid" type="text" class="form-control" formControlName="imagen">
    Tipo producto:<input [class.is-invalid]="formularioProducto.get('tipo_producto').touched && formularioProducto.get('tipo_producto').invalid" type="text" class="form-control" formControlName="tipo_producto">
  -->
  <mat-form-field style="width:400px !important" appearance="legacy">
    <mat-label>Descripcion</mat-label>
    <input matInput type="text" formControlName="descripcion"><br/>
    <mat-error *ngFor="let validation of ValidationMessages.descripcion">
      <mat-error class="error-message" *ngIf="formularioProducto.get('descripcion').hasError(validation.type) && (formularioProducto.get('descripcion').dirty || formularioProducto.get('descripcion').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field style="width:400px !important" appearance="legacy">
    <mat-label>Codigo</mat-label>
    <input matInput type="text" formControlName="codigo"><br/>
    <mat-error *ngFor="let validation of ValidationMessages.codigo">
      <mat-error class="error-message" *ngIf="formularioProducto.get('codigo').hasError(validation.type) && (formularioProducto.get('codigo').dirty || formularioProducto.get('codigo').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field style="width:400px !important" appearance="legacy">
    <mat-label>Precio</mat-label>
    <input matInput  type="number" formControlName="precio" min="0">
    <mat-error *ngFor="let validation of ValidationMessages.precio">
      <mat-error class="error-message" *ngIf="formularioProducto.get('precio').hasError(validation.type) && (formularioProducto.get('precio').dirty || formularioProducto.get('precio').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="legacy">
    <mat-label>Imagen</mat-label>
    <input matInput type="text" formControlName="imagen">
    <mat-error *ngFor="let validation of ValidationMessages.imagen">
      <mat-error class="error-message" *ngIf="formularioProducto.get('imagen').hasError(validation.type) && (formularioProducto.get('imagen').dirty || formularioProducto.get('imagen').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>
  <br>

    <mat-form-field>
        <mat-label>Tipo producto</mat-label>
        <mat-select formControlName="tipo_producto">
          <mat-option *ngFor="let datos of data1" [value]='datos.id'>
            {{datos.descripcion}}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of ValidationMessages.tipo_producto">
          <mat-error class="error-message" *ngIf="formularioProducto.get('tipo_producto').hasError(validation.type) && (formularioProducto.get('tipo_producto').dirty || formularioProducto.get('tipo_producto').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
    <button class="btn btn-primary"[disabled]="!formularioProducto.valid" type="submit">Enviar</button>
  </form>
  </div>


  <router-outlet></router-outlet>
