<app-menu></app-menu>
<div class="container">

<br/>
<a class="absolute" mat-flat-button color="primary" routerLink="/insertProducto">Añadir registros</a>
<div class= "table">
<table mat-table
[dataSource]="data"  multiTemplateDataRows
class="mat-elevation-z8">

<ng-container matColumnDef="Descripcion">
 <th mat-header-cell *matHeaderCellDef> Descripcion </th>
 <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
</ng-container>
<ng-container matColumnDef="Codigo">
 <th mat-header-cell *matHeaderCellDef> Codigo </th>
 <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
</ng-container>
<ng-container matColumnDef="Precio">
 <th mat-header-cell *matHeaderCellDef> Precio </th>
 <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
</ng-container>
<ng-container matColumnDef="Imagen">
  <th mat-header-cell *matHeaderCellDef> Imagen </th>
  <td mat-cell *matCellDef="let element"> <img src="{{element.imagen}}" width="50" height="50"> </td>
 </ng-container>
 <ng-container matColumnDef="Tipo producto">
  <th mat-header-cell *matHeaderCellDef> Tipo producto </th>
  <td mat-cell *matCellDef="let element"> {{element.tipo_producto.descripcion}} </td>
 </ng-container>
 <ng-container matColumnDef="Acciones">
  <th mat-header-cell *matHeaderCellDef> Acciones </th>
  <td mat-cell *matCellDef="let element"> <button mat-button mat-stroked-button color="warn"(click)="openDialog('Delete',element)">Borrar</button><!--<button (click)="delete(element.id)">Borrar</button>-->

    <a mat-stroked-button color="primary" routerLink="/updateProducto/{{ element.id}}">Modificar</a></td>
 </ng-container>

<tr mat-header-row *matHeaderRowDef="headElements"></tr>
<tr mat-row *matRowDef="let element; columns: headElements;">
</tr>

</table>
</div>
<mat-paginator [length]="data12"
[pageSizeOptions]="pageSizeOptions"
(page)= setPage($event)    >

</mat-paginator>
</div>

<router-outlet></router-outlet>
