<app-menu></app-menu>

<div class="container">

<br/>
<a class="absolute" mat-flat-button color="primary" routerLink="/insertTipoProducto">Añadir registros</a>
<div class=table>
<table mat-table
[dataSource]="data"  multiTemplateDataRows
class="mat-elevation-z8">

<ng-container matColumnDef="Descripcion">
 <th mat-header-cell *matHeaderCellDef> Descripcion </th>
 <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
</ng-container>

<ng-container matColumnDef="Acciones">
  <th mat-header-cell *matHeaderCellDef> Acciones </th>
  <td mat-cell *matCellDef="let element">
    <button mat-button mat-stroked-button color="warn"(click)="openDialog('Delete',element)">Borrar</button><!--<button (click)="delete(element.id)">Borrar</button>-->

    <a mat-stroked-button color="primary" routerLink="/updateTipoProducto/{{ element.id}}">Modificar</a>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="headElements"></tr>
<tr mat-row *matRowDef="let element; columns: headElements;">
</tr>
</table>
</div>
<mat-paginator [length]="data12"
               [pageSizeOptions]="pageSizeOptions"
               (page)= setPage($event)    >

</mat-paginator>

</div>
<!--
<table class="table"  >
  <thead>
    <tr>
      <th *ngFor= "let head of headElements" > {{ head }}</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let datos of data">
      <td>{{datos.descripcion}}</td>
      <td><button (click)="delete(datos.id)">Borrar</button>
        <a routerLink="/updateTipoProducto/{{ datos.id}}">Modificar</a>
      </td>
    </tr>
  </tbody>
</table>-->

<router-outlet></router-outlet>
