<app-menu></app-menu>



<div class="container">
  <!--
    <form [formGroup]="formularioMesas" (ngSubmit)="onSubmit(formularioMesas.value)">
      Numero: <input [class.is-invalid]="formularioMesas.get('numero').touched && formularioMesas.get('numero').invalid" type="text" class="form-control" formControlName="numero">
           <button class="btn btn-primary" type="submit">Enviar</button>

    </form>
  -->

    <form [formGroup]="formularioMesas" (ngSubmit)="onSubmit(formularioMesas.value)">
      <mat-form-field style="width:400px !important" appearance="legacy">
        <mat-label>Número</mat-label>
        <input matInput type="number" formControlName="numero"><br/>
        <mat-error *ngFor="let validation of mesasValidationMessages.numero">
          <mat-error class="error-message" *ngIf="formularioMesas.get('numero').hasError(validation.type) && (formularioMesas.get('numero').dirty || formularioMesas.get('numero').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <br>




        <button class="btn btn-primary" [disabled]="!formularioMesas.valid" type="submit">Enviar</button>
      </form>
    </div>


    <router-outlet></router-outlet>
