<app-menu></app-menu>

 <div class="container">
  <tr *ngFor= "let datos of data">
     <th>{{ datos.numero }}</th>
    <a routerLink="/mesa/{{datos.id}}/{{datos.local.id}}"><img src="https://cdn2.iconfinder.com/data/icons/minimalist-cafe-table/64/table_interior_cafe_minimalism_modern-12-512.png" width="150" height="120"></a>
    <td> <button mat-button mat-stroked-button color="warn" (click)="openDialog('Delete',datos)"> <i   class="material-icons">delete_forever </i> </button> </td>
    <td><a mat-stroked-button color="primary" routerLink="/updateMesas/{{datos.id}}"><i class="material-icons">
      edit
      </i></a> </td>
  </tr>
  <a routerLink="/insertMesas"><img src="https://image.shutterstock.com/image-vector/plus-icon-vector-illustration-linear-260nw-1056981284.jpg" width="150px" height="150px">  </a>
  </div>
<router-outlet></router-outlet>
