.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: auto;
  align-content: flex-start
}

.item {
  flex: 0 0 auto;
  margin: 50px;
}
img{
  width: 200;
  height: 200;

}
tr{
  margin: 0px 0px 20px 50px;
}
