<div class="right">
  <h2>Lineas Pedido </h2>
  {{dataLpCantidad}}
  <td *ngIf="dataLpLength > 0">
  <tr *ngFor= "let datos of dataLp ">
    <td >Cantidad:{{datos.cantidad}} Precio: {{ datos.precio }} Producto: {{datos.producto.descripcion}}</td>



</tr>
  <button (click)="pagar(dataLp[0].ticket.id)">Pagar {{ dataLp[0].ticket.id}}</button>
</td>
  </div>
<router-ou
