<app-menu></app-menu>

<div class="container">
 <!-- <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
    Usuario: <input autofocus [class.is-invalid]="formularioLogin.get('login').touched && formularioLogin.get('login').invalid" type="text" class="form-control" formControlName="login">
    Password: <input [class.is-invalid]="formularioLogin.get('password').touched && formularioLogin.get('password').invalid" type="password" class="form-control" formControlName="password"><br/>
    <button class="btn btn-primary" type="submit">Enviar</button>

  </form><br/>
-->  <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit(formularioLogin.value)">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Usuario</mat-label>
      <input matInput autofocus [class.is-invalid]="formularioLogin.get('login').touched && formularioLogin.get('login').invalid" type="text"  formControlName="login">
    </mat-form-field>
    <br>

    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput [class.is-invalid]="formularioLogin.get('password').touched && formularioLogin.get('password').invalid" type="password"  formControlName="password"><br/>    </mat-form-field>
    <br>

        <br/>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
 <br/>

  </div>
  <router-outlet></router-outlet>
