.container{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:100%;
 }
 ::ng-deep .mat-input-wrapper{
  width:400px !important;
}
.mat-input-wrapper{
  width:400px !important;
}
.mat-input-wrapper{
  width:400px !important;
}
