<app-menu></app-menu>


<div class="container">
  <form [formGroup]="formularioLocal" (ngSubmit)="onSubmit(formularioLocal.value)">
    Descripcion: <input [class.is-invalid]="formularioLocal.get('descripcion').touched && formularioLocal.get('descripcion').invalid" type="text" class="form-control" formControlName="descripcion">
    Nif: <input [class.is-invalid]="formularioLocal.get('nif').touched && formularioLocal.get('nif').invalid" type="text" class="form-control" formControlName="nif"><br/>
    Email:<input [class.is-invalid]="formularioLocal.get('email').touched && formularioLocal.get('email').invalid" type="text" class="form-control" formControlName="email">
    Telefono:<input [class.is-invalid]="formularioLocal.get('telefono').touched && formularioLocal.get('telefono').invalid" type="text" class="form-control" formControlName="telefono">
    Login:<input [class.is-invalid]="formularioLocal.get('login').touched && formularioLocal.get('login').invalid" type="text" class="form-control" formControlName="login">
    Password:<input [class.is-invalid]="formularioLocal.get('password').touched && formularioLocal.get('password').invalid" type="password" class="form-control" formControlName="password">
    <button class="btn btn-primary" type="submit">Enviar</button>

  </form>
  </div>


  <router-outlet></router-outlet>
