<h1 mat-dialog-title> <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <ng-template *ngIf="action != 'Delete'; else elseTemplate">
    <ng-template #elseTemplate>
      ¿Seguro que quiere pagar?
     </ng-template>



    </ng-template>
  <ng-template #elseTemplate>
   ¿Seguro que quiere borrar el registro?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button mat-flat-button color="warn" (click)="doAction()">{{action}}</button>
  <button mat-button  (click)="closeDialog()" >Cancel</button>
</div>
