


  <table mat-table [dataSource]="dataElement"  class="mat-elevation-z8" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button (click)="delete(element.id)">Borrar</button>

      </td>
     </ng-container>
<ng-container>
  <button (click)="printLineaPedido()"></button>
</ng-container>
    <tr mat-header-row *matHeaderRowDef="headElements"></tr>
    <tr mat-row *matRowDef="let row; columns: headElements;"></tr>

  </table>

<router-outlet></router-outlet>

