
<app-menu></app-menu>



<div class="container">
  <form [formGroup]="formularioFactura" (ngSubmit)="onSubmit(formularioFactura.value)">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Fecha</mat-label>
      <input matInput type="text" formControlName="fecha"><br/>
      <mat-error *ngFor="let validation of ValidationMessages.fecha">
        <mat-error class="error-message" *ngIf="formularioFactura.get('fecha').hasError(validation.type) && (formularioFactura.get('fecha').dirty || formularioFactura.get('fecha').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Total</mat-label>
      <input matInput type="number" formControlName="total"><br/>
      <mat-error *ngFor="let validation of ValidationMessages.total">
        <mat-error class="error-message" *ngIf="formularioFactura.get('total').hasError(validation.type) && (formularioFactura.get('total').dirty || formularioFactura.get('total').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Pagado</mat-label>
      <input matInput type="text" formControlName="estado"><br/>
      <mat-error *ngFor="let validation of ValidationMessages.estado">
        <mat-error class="error-message" *ngIf="formularioFactura.get('estado').hasError(validation.type) && (formularioFactura.get('estado').dirty || formularioFactura.get('estado').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>
      <mat-form-field>
          <mat-label>Mesa</mat-label>
          <mat-select formControlName="mesa">
            <mat-option *ngFor="let datos of data1" [value]='datos.id'>
              {{datos.numero}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    </div>
    <router-outlet></router-outlet>
