<app-menu></app-menu>
<div class="container">
  <div class="table">
  <table mat-table
       [dataSource]="data"  multiTemplateDataRows
       class="mat-elevation-z8">

       <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date:'yyyy-MM-dd HH:mm:ss'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>
      <ng-container matColumnDef="Mesa">
        <th mat-header-cell *matHeaderCellDef> Mesa </th>
        <td mat-cell *matCellDef="let element"> {{element.mesa.id}} </td>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> <span *ngIf="element.pagado">Pagado </span>
          <span *ngIf="!element.pagado">No pagado </span></td>
      </ng-container>

 <ng-container matColumnDef="Acciones">
  <th mat-header-cell *matHeaderCellDef> Acciones </th>
  <td mat-cell *matCellDef="let element"> <button mat-button mat-stroked-button color="warn"(click)="openDialog('Delete',element)">Borrar</button>

    <a mat-stroked-button color="primary" routerLink="/updateTicket/{{ element.id}}">Modificar</a>
  </td>

 </ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail" >


  <td mat-cell *matCellDef="let dataElement" [attr.colspan]="headElements.length">
    <div style="margin: 5px; text-align: end;">
    <button mat-flat-button mat-stroked-buton color="primary" (click)="imprimirFactura(dataElement)" color="primary">Imprimir factura</button>
  </div>
    <div class="example-element-detail"
         [@detailExpand]="dataElement == expandedElement ? 'expanded' : 'collapsed'">
         <div class="example-element-diagram">
<app-lineapedido [idfactura]="dataElement.id"></app-lineapedido>
    </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="headElements"></tr>
<tr mat-row *matRowDef="let element; columns: headElements;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
<mat-paginator [length]="data12"
[pageSizeOptions]="pageSizeOptions"
(page)= setPage($event)    >
</mat-paginator>
</div>
<!--
<div class="container">

  <a routerLink="/insertTicket">Añadir registros</a>
<br/>

<table class="table"  >
  <thead>
    <tr>
      <th *ngFor= "let head of headElements" > {{ head }}</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let datos of data" (click)="botonPrueba()">
      <td > {{ datos.fecha | date:'yyyy-MM-dd hh:mm:ss'  }}</td>
      <td>{{ datos.total}}</td>
      <td>{{ datos.mesa.numero}}</td>
      <td><button (click)="delete(datos.id)">Borrar</button>
        <a routerLink="/updateTicket/{{ datos.id}}">Modificar</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>
-->
