<app-menu></app-menu>



<div class="container">
  <h2 class="mat-display-1">Actualizar {{ datadesc }}</h2>
  <form [formGroup]="formularioTipoProducto" (ngSubmit)="onSubmit(formularioTipoProducto.value)" autocomplete="off">
    <mat-form-field style="width:400px !important" appearance="legacy">
      <mat-label>Descripcion</mat-label>
      <input matInput type="text" formControlName="descripcion"><br/>
      <mat-error class="error-message" *ngIf=" (formularioTipoProducto.get('descripcion').dirty || formularioTipoProducto.get('descripcion').touched)">Campo requerido</mat-error>

    </mat-form-field>
    <br>




      <button class="btn btn-primary"  [disabled]="!formularioTipoProducto.valid" formularioTipoProductotype="submit">Enviar</button>
    </form>
    </div>
    <router-outlet></router-outlet>
