<app-menu></app-menu>
<div style="text-align: center; margin-top: 10%;">
<mat-form-field style="width:400px !important" appearance="legacy">
  <mat-label>Introduzca el código para ver su mesa</mat-label>
  <input matInput type="text" [(ngModel)]="idMesaLocal" >
</mat-form-field>
<br>
<button mat-flat-button color="primary"(click)="redireccionarMesa()">Enviar datos</button>
</div>
