<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a (click)="setTitle('CloudTPV')"routerLink="/home" class="navbar-brand">
    <div (mouseenter)="gif=true" (mouseout)="gif=false">
      <span *ngIf="!gif"> <img src="../assets/logo/cloudtpv.jpg" width="100" height="50"></span>
      <span *ngIf="gif"> <img src="../assets/logo/cloudtpv1.gif" width="100" height="50"></span>
    </div>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div *ngIf="dataCheck;" class="navbar-nav">
        <a *ngIf="dataCheck.id ==1;"(click)="setTitle('Locales')"routerLink="/local"  routerLinkActive="active" class="nav-item nav-link ">Locales </a>
          <a (click)="setTitle('Mesas')"routerLink="/mesas"  routerLinkActive="active" class="nav-item nav-link">Mesas </a>
          <a (click)="setTitle('Tipo producto')"routerLink="/tipoproducto"  routerLinkActive="active" class="nav-item nav-link">Tipo producto</a>
          <a (click)="setTitle('Productos')"routerLink="/productos"  routerLinkActive="active" class="nav-item nav-link">Productos</a>
          <a (click)="setTitle('Facturas')" routerLink="/facturas" class="nav-item nav-link" >Facturas</a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="navbar-nav">
            <div class="nav-item nav-link"*ngIf="dataCheck; else elseBlock">{{ dataCheck.descripcion }}
          <a  routerLink="../home" (click)="onDelete()" class="nav-item nav-link">Logout </a>
      </div>
      </div>
<ng-template #elseBlock> <a routerLink="/login" class="nav-item nav-link"  routerLinkActive="active">Login </a>  </ng-template>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>

