<div class="container">

  <a routerLink="/insertLocal">Añadir registros</a>
<br/>

<table class="table"  >
  <thead>
    <tr>
      <th *ngFor= "let head of headElements" > {{ head }}</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let datos of data">
      <th>{{ datos.id }}</th>
      <td>{{ datos.descripcion }}</td>
      <td>{{ datos.nif}}</td>
      <td>{{ datos.email }}</td>
      <td>{{datos.telefono}}</td>
      <td>{{datos.login}}</td>
      <td><button (click)="delete(datos.id)">Borrar</button>
        <a routerLink="/updateLocal/{{ datos.id}}">Modificar</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>
